### Import Lib

In [1]:
import pandas as pd
import os
import psycopg2
import numpy as np
import dask.dataframe as dd
import random
results = []
# import sqlalchemy as sql

### Create Connection to PostgreSQL

In [2]:
# Create Connection to postgresql

conn = psycopg2.connect(
    host="localhost",
    database="musicbrainz_db",
    user="musicbrainz",
    port=5432)

cursor = conn.cursor()

# psql -h localhost -p 25432 -U musicbrainz musicbrainz_db

# engine = sql.create_engine('postgresql:///musicbrainz_db')
# connection = engine.connect()
cursor.execute("select * from recording limit 1;")
cursor.fetchone()[0]
print("connection successful")

connection successful

### Select Random file paths

In [3]:
# #Load up MLHD Data Folder

# filelist = os.listdir('/data/mlhd/00')

# path = lambda name: '/data/mlhd/00/{}'.format(name)
# file_paths = [path(name) for name in filelist]

# first_10 = file_paths[:10]

In [4]:
# #random folder selector
# master_folder = os.listdir('/data/mlhd')
# folder_list = random.sample(master_folder, 10)

# #random file selection
# file_paths = []
# for folder in folder_list:
#     random_file = random.sample(os.listdir('/data/mlhd/'+(folder)), 1)[0]
# #     print(random_file)
#     path = '/data/mlhd/'+folder+'/'+random_file
#     file_paths.append(path)

# file_paths

### Warning: Running this code-block will replace existing random file_list

In [5]:
# with open('random_file_paths.txt', 'w+') as f:
#     f.writelines([name+'\n' for name in file_paths])

### Read frozen stored random files

In [6]:
with open('random_file_paths.txt', 'r') as f:
    file_paths = f.readlines()
    file_paths= [item.strip() for item in file_paths]
    
(file_paths)

['/data/mlhd/07/07beee31-451d-4346-9f83-144671d68f7b.txt.gz',
 '/data/mlhd/86/86482586-681c-43f6-8fda-05d0e5c3a5c3.txt.gz',
 '/data/mlhd/aa/aaaec8b6-6ec5-4efa-b9ee-ee089431d9c3.txt.gz',
 '/data/mlhd/0d/0d309017-bc04-4c2b-be84-ee01899fe087.txt.gz',
 '/data/mlhd/b3/b3ded736-58be-45ed-a018-5803c9eae282.txt.gz',
 '/data/mlhd/82/822abba8-6493-49ae-b70f-35f1ad8ca052.txt.gz',
 '/data/mlhd/56/567d224e-0660-4eaf-a6f5-34f7abe7e609.txt.gz',
 '/data/mlhd/4d/4d68890f-29d1-402d-8650-43941e1a3559.txt.gz',
 '/data/mlhd/ad/ad2ff9c6-7c80-4835-80b4-c117de9a2c2b.txt.gz',
 '/data/mlhd/e7/e7305d9a-260c-47b0-ba1b-01892300fa68.txt.gz']

In [88]:
# fetch df

# Use dask.dataframe since it's ~ 14x faster than pandas dataframe! 

def fetch_df_dd(pth):
#     df = dd.read_csv(pth, sep='\t', names=['timestamp', 'artist-MBID', 'release-MBID', 'recording-MBID'], blocksize=None)
    df = pd.read_csv(pth, sep='\t', names=['timestamp', 'artist-MBID', 'release-MBID', 'recording-MBID'])
    
    # DROPPING ALL FILES WITHOUT recording-MBID
    df = df[-df['recording-MBID'].isna()]
    return df

df = fetch_df_dd(file_paths[9])
print(len(df))
df.head()

10694

,timestamp,artist-MBID,release-MBID,recording-MBID
0,1238828757,71f17703-cd11-4579-b08a-1b1c8e6f5ac2,15efe0ab-055a-4562-b290-be39336e49bd,986dd819-7c83-4c9e-905b-6cb65ccbea3b
1,1238828982,71f17703-cd11-4579-b08a-1b1c8e6f5ac2,15efe0ab-055a-4562-b290-be39336e49bd,52d46c9b-96f4-4e59-8216-68f8b5ee2b89
2,1238829203,71f17703-cd11-4579-b08a-1b1c8e6f5ac2,15efe0ab-055a-4562-b290-be39336e49bd,200c74aa-7d6d-4a9b-8284-35094186a00b
4,1239496830,0039c7ae-e1a7-4a7d-9b49-0cbc716821a6,NaN,06bf6d0c-3094-492e-92fc-4867b9364d0b
5,1239497092,0039c7ae-e1a7-4a7d-9b49-0cbc716821a6,NaN,571b7e68-b7cf-4d33-97e2-b59eb7d00b9d

In [89]:
# Function to yield a chunk from dataframe.

def yield_chunk(dataframe, chunksize):
    l = len(dataframe)
    if l<chunksize:
        return dataframe
    
    for i in range(chunksize,l,chunksize):
        start = i-chunksize
        yield dataframe[start:i]['recording-MBID']
        
gen = yield_chunk(df, 5)
type(next(gen))

pandas.core.series.Series

In [90]:
# A function to take single mbid as input and: 
# 1. cross check with recording table. If present, return the SAME recording-mbid from recording table.
# 2. If not in recording table, check in track table. If present, return 
# 3. If not in recording/track table, check if it exists in the recording_gid_redirect table
# 4. If not in any of the above tables, add the mbid to bad_entries list.

# Check if a recording-MBID exists in the "recording" table. If exists, return the mbid. If not, return None
def check_in_recording(rec_mbid):
    cursor.execute("SELECT gid FROM recording WHERE gid=%(id)s;", {'id':rec_mbid})
    fetch = cursor.fetchone()
    
    if type(fetch) == tuple:
        return fetch[0]
    else:
        count_not_recording.add(rec_mbid)
        return None


# If MBID in recording_gid_redirect, return the redirected MBID. Else, return None
def check_in_redirect(rec_mbid):
    cursor.execute("select r.gid from recording r join recording_gid_redirect rgr on rgr.new_id = r.id where rgr.gid = %(id)s;", {'id':rec_mbid})
    fetch = cursor.fetchone()
    
    if type(fetch) == tuple:
        return fetch[0]
    else:
        count_not_redirect.add(rec_mbid)
        return None


# Check if a recording-MBID exists in the "track" table. If not, return None. 
# If yes, append the track-mbid to the list track_mbids

track_mbids = []
def check_in_track(rec_mbid):
    cursor.execute("SELECT gid FROM track WHERE gid=%(id)s;", {'id':rec_mbid})
    fetch = cursor.fetchone()
    
    if type(fetch) == tuple:
        track_mbids.add(rec_mbid)
        return fetch[0]
    else:
        count_not_track.add(rec_mbid)
        return None

# Simple function to take single mbid as input and:
# Find its canonical MBID
def get_canon(rec_mbid):
    cursor.execute("SELECT canonical_recording_mbid FROM mapping.canonical_recording_redirect WHERE recording_mbid=%(id)s;", {'id':rec_mbid})
    if cursor.fetchone()!=None:
        count_not_canonical.add(rec_mbid)
        return cursor.fetchone()
    else:
        return rec_mbid
    
# Function to validate MBIDs and replace MBIDS through a chain of functions.
def check_validity(rec_mbid):
    x = check_in_recording(rec_mbid)
    
    if x != None:
        return x
    else:
        x = check_in_redirect(rec_mbid)
    
        if x != None:
            return x
        else:            
            x = check_in_track(rec_mbid)
            
            if x!= None:
                return x
            else:
                return None

In [91]:
# # query = "SELECT gid FROM track WHERE gid=%(id)s;"
# # cursor.execute(query,{'id':'625826fb-1380-4a0a-8b2a-03690e043c25'})


# tup = ('0f42ab32-22cd-4dcf-927b-a8d9a183d68b','327c8bf3-809b-4368-b590-7867a6cc805a')

# print(str(tup))
# query = '''SELECT id FROM recording 
# WHERE gid in ('0f42ab32-22cd-4dcf-927b-a8d9a183d68b','327c8bf3-809b-4368-b590-7867a6cc805a');'''
# cursor.execute(query)
# print(cursor.fetchall())

In [92]:
rec = df['recording-MBID']
print(rec)
# print(check_in_recording(rec))
# # cursor.execute("select * from recording limit 1;")

0        986dd819-7c83-4c9e-905b-6cb65ccbea3b
1        52d46c9b-96f4-4e59-8216-68f8b5ee2b89
2        200c74aa-7d6d-4a9b-8284-35094186a00b
4        06bf6d0c-3094-492e-92fc-4867b9364d0b
5        571b7e68-b7cf-4d33-97e2-b59eb7d00b9d
                         ...
13354    4c3b6406-e144-434f-baab-372577764dbe
13355    5f27596a-3bd0-45b0-bd7e-d75ffc2674b0
13356    06fe79c6-f43f-46fd-acea-c3df21bb07a6
13357    fc8df6e8-8184-47b7-a9db-a36d53d0ea21
13358    c7bb57ec-3559-49e7-82a4-071f895b6190
Name: recording-MBID, Length: 10694, dtype: object

In [93]:
# Declaring count sets
count_not_recording, count_not_redirect, count_not_track, count_misc, count_not_canonical = set(), set(), set(), set(), set()

# Driver function to check validity and get canononical MBID.
def driver_function(rec_mbid):
    x = check_validity(rec_mbid)
    # check_validity checks MBIDs in the following order: is recording-MBID? -> is redirectable-MBID? -> is track-MBID?
    # If its not either of the above 3, None is returned.
    
    if x != None:
        return get_canon(rec_mbid)
    # If its not None, find its canonical-MBID
    else:
        return None

In [94]:
%%time
# df2 = df['recording-MBID'].map(driver_function, meta=('x', str)).compute()
df2 = df['recording-MBID'].map(driver_function)
# track_mbids

CPU times: user 865 ms, sys: 981 ms, total: 1.85 s
Wall time: 19.6 s

In [95]:
x = (("total rows in dataset", len(df2))
,("time taken", "0min 19.6s")
,("number of Null values in appended to the dataset", df2.isna().sum())
,("number of values not present in the table 'recording'",len(count_not_recording))
,("number of values not present niether in the table 'recording' nor in 'redirect'",len(count_not_redirect))
,("num of values niether in recording, nor redirect, nor track",len(count_not_track))
,("number of track-MBIDs in the recording-MBID column",len(track_mbids))
,("num of broken MBIDs =", len(count_not_redirect.intersection(count_not_track)))
,("num of non-canonical IDs found in recording-mbid table", len(count_not_canonical)))

results.append(dict(x))

In [96]:
results

[{'total rows in dataset': 102752,
  'time taken': '2min',
  'number of Null values in appended to the dataset': 25591,
  "number of values not present in the table 'recording'": 2147,
  "number of values not present niether in the table 'recording' nor in 'redirect'": 56,
  'num of values niether in recording, nor redirect, nor track': 56,
  'number of track-MBIDs in the recording-MBID column': 0,
  'num of broken MBIDs =': 56,
  'num of non-canonical IDs found in recording-mbid table': 1568},
 {'total rows in dataset': 20652,
  'time taken': '12.4s',
  'number of Null values in appended to the dataset': 6048,
  "number of values not present in the table 'recording'": 1873,
  "number of values not present niether in the table 'recording' nor in 'redirect'": 23,
  'num of values niether in recording, nor redirect, nor track': 23,
  'number of track-MBIDs in the recording-MBID column': 0,
  'num of broken MBIDs =': 23,
  'num of non-canonical IDs found in recording-mbid table': 1392},
 {'total rows in dataset': 22931,
  'time taken': '2min 48s',
  'number of Null values in appended to the dataset': 7473,
  "number of values not present in the table 'recording'": 2496,
  "number of values not present niether in the table 'recording' nor in 'redirect'": 16,
  'num of values niether in recording, nor redirect, nor track': 16,
  'number of track-MBIDs in the recording-MBID column': 0,
  'num of broken MBIDs =': 16,
  'num of non-canonical IDs found in recording-mbid table': 2706},
 {'total rows in dataset': 23309,
  'time taken': '1min 19s',
  'number of Null values in appended to the dataset': 7546,
  "number of values not present in the table 'recording'": 1429,
  "number of values not present niether in the table 'recording' nor in 'redirect'": 16,
  'num of values niether in recording, nor redirect, nor track': 16,
  'number of track-MBIDs in the recording-MBID column': 0,
  'num of broken MBIDs =': 16,
  'num of non-canonical IDs found in recording-mbid table': 1867},
 {'total rows in dataset': 75334,
  'time taken': '3min 20s',
  'number of Null values in appended to the dataset': 19293,
  "number of values not present in the table 'recording'": 2672,
  "number of values not present niether in the table 'recording' nor in 'redirect'": 53,
  'num of values niether in recording, nor redirect, nor track': 53,
  'number of track-MBIDs in the recording-MBID column': 0,
  'num of broken MBIDs =': 53,
  'num of non-canonical IDs found in recording-mbid table': 4057},
 {'total rows in dataset': 60944,
  'time taken': '1min 54s',
  'number of Null values in appended to the dataset': 20462,
  "number of values not present in the table 'recording'": 2982,
  "number of values not present niether in the table 'recording' nor in 'redirect'": 17,
  'num of values niether in recording, nor redirect, nor track': 17,
  'number of track-MBIDs in the recording-MBID column': 0,
  'num of broken MBIDs =': 17,
  'num of non-canonical IDs found in recording-mbid table': 4009},
 {'total rows in dataset': 9327,
  'time taken': '0min 14s',
  'number of Null values in appended to the dataset': 2145,
  "number of values not present in the table 'recording'": 389,
  "number of values not present niether in the table 'recording' nor in 'redirect'": 1,
  'num of values niether in recording, nor redirect, nor track': 1,
  'number of track-MBIDs in the recording-MBID column': 0,
  'num of broken MBIDs =': 1,
  'num of non-canonical IDs found in recording-mbid table': 261},
 {'total rows in dataset': 47740,
  'time taken': '1min 33s',
  'number of Null values in appended to the dataset': 15228,
  "number of values not present in the table 'recording'": 2761,
  "number of values not present niether in the table 'recording' nor in 'redirect'": 13,
  'num of values niether in recording, nor redirect, nor track': 13,
  'number of track-MBIDs in the recording-MBID column': 0,
  'num of broken MBIDs =': 13,
  'num of non-canonical IDs found in recording-mbid table': 3023},
 {'total rows in dataset': 8991,
  'time taken': '0min 18.4s',
  'number of Null values in appended to the dataset': 2331,
  "number of values not present in the table 'recording'": 642,
  "number of values not present niether in the table 'recording' nor in 'redirect'": 7,
  'num of values niether in recording, nor redirect, nor track': 7,
  'number of track-MBIDs in the recording-MBID column': 0,
  'num of broken MBIDs =': 7,
  'num of non-canonical IDs found in recording-mbid table': 571},
 {'total rows in dataset': 10694,
  'time taken': '0min 19.6s',
  'number of Null values in appended to the dataset': 2450,
  "number of values not present in the table 'recording'": 827,
  "number of values not present niether in the table 'recording' nor in 'redirect'": 6,
  'num of values niether in recording, nor redirect, nor track': 6,
  'number of track-MBIDs in the recording-MBID column': 0,
  'num of broken MBIDs =': 6,
  'num of non-canonical IDs found in recording-mbid table': 886}]

In [130]:
results_df = pd.DataFrame(results)

In [131]:
results_df

,total rows in dataset,time taken,number of Null values in appended to the dataset,number of values not present in the table 'recording',number of values not present niether in the table 'recording' nor in 'redirect',"num of values niether in recording, nor redirect, nor track",number of track-MBIDs in the recording-MBID column,num of broken MBIDs =,num of non-canonical IDs found in recording-mbid table
0,102752,2min,25591,2147,56,56,0,56,1568
1,20652,12.4s,6048,1873,23,23,0,23,1392
2,22931,2min 48s,7473,2496,16,16,0,16,2706
3,23309,1min 19s,7546,1429,16,16,0,16,1867
4,75334,3min 20s,19293,2672,53,53,0,53,4057
5,60944,1min 54s,20462,2982,17,17,0,17,4009
6,9327,0min 14s,2145,389,1,1,0,1,261
7,47740,1min 33s,15228,2761,13,13,0,13,3023
8,8991,0min 18.4s,2331,642,7,7,0,7,571
9,10694,0min 19.6s,2450,827,6,6,0,6,886

In [132]:
results_df.to_csv("random-10-results.csv", encoding='utf-8')

In [133]:
results_df['seconds_taken'] = pd.Series([120, 12.4, 168, 200, 114, 14, 93, 18.4, 19,6])
results_df['average_time_per_10k'] = (results_df['seconds_taken']/results_df.iloc[:,0])*10000
results_df

,total rows in dataset,time taken,number of Null values in appended to the dataset,number of values not present in the table 'recording',number of values not present niether in the table 'recording' nor in 'redirect',"num of values niether in recording, nor redirect, nor track",number of track-MBIDs in the recording-MBID column,num of broken MBIDs =,num of non-canonical IDs found in recording-mbid table,seconds_taken,average_time_per_10k
0,102752,2min,25591,2147,56,56,0,56,1568,120.0,11.678605
1,20652,12.4s,6048,1873,23,23,0,23,1392,12.4,6.004261
2,22931,2min 48s,7473,2496,16,16,0,16,2706,168.0,73.263268
3,23309,1min 19s,7546,1429,16,16,0,16,1867,200.0,85.803767
4,75334,3min 20s,19293,2672,53,53,0,53,4057,114.0,15.132609
5,60944,1min 54s,20462,2982,17,17,0,17,4009,14.0,2.297191
6,9327,0min 14s,2145,389,1,1,0,1,261,93.0,99.710518
7,47740,1min 33s,15228,2761,13,13,0,13,3023,18.4,3.854210
8,8991,0min 18.4s,2331,642,7,7,0,7,571,19.0,21.132243
9,10694,0min 19.6s,2450,827,6,6,0,6,886,6.0,5.610623

In [140]:
results_df2 = results_df.copy()
results_df2.drop(['time taken'], axis=1, inplace=True)
results_df2.iloc[:, 1:9].apply(lambda x: x/100)
for i in range(len(results_df2)):
    results_df2.iloc[i, 1:9] = results_df2.iloc[i, 1:9].apply(lambda x: x*100/results_df2.iloc[i,0])

results_df2
# The values below are in percent. (unless specified in the column)

,total rows in dataset,number of Null values in appended to the dataset,number of values not present in the table 'recording',number of values not present niether in the table 'recording' nor in 'redirect',"num of values niether in recording, nor redirect, nor track",number of track-MBIDs in the recording-MBID column,num of broken MBIDs =,num of non-canonical IDs found in recording-mbid table,seconds_taken,average_time_per_10k
0,102752,24.905598,2.089497,0.054500,0.054500,0,0.054500,1.526004,0.116786,11.678605
1,20652,29.285299,9.069340,0.111369,0.111369,0,0.111369,6.740267,0.060043,6.004261
2,22931,32.589072,10.884828,0.069775,0.069775,0,0.069775,11.800619,0.732633,73.263268
3,23309,32.373761,6.130679,0.068643,0.068643,0,0.068643,8.009782,0.858038,85.803767
4,75334,25.609950,3.546871,0.070353,0.070353,0,0.070353,5.385351,0.151326,15.132609
5,60944,33.575085,4.893017,0.027894,0.027894,0,0.027894,6.578170,0.022972,2.297191
6,9327,22.997748,4.170687,0.010722,0.010722,0,0.010722,2.798327,0.997105,99.710518
7,47740,31.897780,5.783410,0.027231,0.027231,0,0.027231,6.332216,0.038542,3.854210
8,8991,25.925926,7.140474,0.077856,0.077856,0,0.077856,6.350795,0.211322,21.132243
9,10694,22.910043,7.733308,0.056106,0.056106,0,0.056106,8.285020,0.056106,5.610623

In [142]:
results_df2.describe()

,total rows in dataset,number of Null values in appended to the dataset,number of values not present in the table 'recording',number of values not present niether in the table 'recording' nor in 'redirect',"num of values niether in recording, nor redirect, nor track",number of track-MBIDs in the recording-MBID column,num of broken MBIDs =,num of non-canonical IDs found in recording-mbid table,seconds_taken,average_time_per_10k
count,10.000000,10.000000,10.000000,10.000000,10.000000,10.0,10.000000,10.000000,10.000000,10.000000
mean,38267.400000,28.207026,6.144211,0.057445,0.057445,0.0,0.057445,6.380655,0.324487,32.448730
std,32249.655916,4.192674,2.652569,0.029341,0.029341,0.0,0.029341,2.852281,0.380678,38.067775
min,8991.000000,22.910043,2.089497,0.010722,0.010722,0.0,0.010722,1.526004,0.022972,2.297191
25%,13183.500000,25.081686,4.351270,0.034546,0.034546,0.0,0.034546,5.622067,0.057090,5.709032
50%,23120.000000,27.605613,5.957045,0.062375,0.062375,0.0,0.062375,6.464483,0.134056,13.405607
75%,57643.000000,32.254766,7.585100,0.070209,0.070209,0.0,0.070209,7.692403,0.602305,60.230512
max,102752.000000,33.575085,10.884828,0.111369,0.111369,0.0,0.111369,11.800619,0.997105,99.710518

# Report

## Methodology:
- Selected 10 random folders from the first 256 folders in the MLHD dataset. (That's all that I had on wolf)
- Selected 1 random file from each random folder
- The randomly selected files have been frozen in a text file for test reproducability.
- Some computations have been run on each of the 10 random files to check the number of bad items.

## Reports
Check the above table to find percent of values as specified in the column.

### Interesting Observations (mean):
- Only 6% of the values weren't present in the recording table on SQL.
    - i.e. 94% recording-MBIDs are completely valid
- 0.05% of the recording-MBIDs were neither recording-MBIDs, nor redirectable-MBIDs, nor track-MBIDs
- 0% of the recording-MBIDs were track-MBIDs
- 6% of the recording-MBIDs (after checking if they were redirectable-MBIDs or track-MBIDs) were non-canonical, and a canonical-MBID was found for them.
- 28% values appended were null (I don't even know what it means at this point)

- With the current algorithm, it took on average 32 seconds per 10k rows.
    - This time however varies wildly due to caching (38 seconds standard deviation)
    - Min time taken per 10k rows: 2s
    - Max time taken per 10k rows: 99s